In [ ]:
# Cleaning and preprocessing of data.
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('products (2).csv')

In [ ]:
print(df)

      Index                                        Name  \
0         1  Smart Fan Iron Cooker Go Wireless Portable
1         2                                         Fan
2         3   Smart Speakerphone Charger Eco Plus Clean
3         4              Premium Grill Trimmer Portable
4         5                            Keyboard Freezer
...     ...                                         ...
9995   9996                                   Powerbank
9996   9997            Rechargeable Lamp Scanner Vacuum
9997   9998                                      Heater
9998   9999               Rechargeable Headphones Stove
9999  10000                     Clean Charger Treadmill

                                            Description  \
0                             Catch enough role nearly.
1                             All movement yeah tax me.
2                   Quickly inside pull line lay start.
3                                 Lawyer one than fire.
4                     Remain Congress blood plan voice.
...                                                 ...
9995                  Yeah none boy fund city decision.
9996    Appear country enter there pull thing computer.
9997  Owner plan approach soldier church little little.
9998                     Base account partner probably.
9999        Return reflect truth tell scientist season.

                        Brand             Category  MRP_Price Currency  Stock  \
0                  Herman Ltd       Kids' Clothing      585.0      INR  194.0
1     Braun, King and Rollins       Grooming Tools      992.0      INR  724.0
2                Peck-Coleman    Fishing & Hunting      940.0      INR  769.0
3                   Hines Ltd             Skincare      324.0      INR   93.0
4     Spence, Webster and Orr  Laptops & Computers      908.0      INR  614.0
...                       ...                  ...        ...      ...    ...
9995       Castaneda-Harrison   Books & Stationery      567.0      INR   27.0
9996                Knapp-Key              Cycling      300.0      INR  177.0
9997    Meyer, Case and Mills    Fitness Equipment      399.0      INR  996.0
9998               Jones-Bell   Kitchen Appliances       45.0      INR  274.0
9999                Davis LLC    Sports & Outdoors       31.0      INR   46.0

               EAN        Color   Availability  Internal ID    Qty  \
0     3.968600e+12     Cornsilk  limited_stock           54  548.0
1     1.911270e+11       Bisque   discontinued           49  228.0
2     7.569140e+12         Blue      pre_order           42  520.0
3     2.705140e+12        Ivory   out_of_stock           93  251.0
4     9.830390e+12  FloralWhite   discontinued           91  602.0
...            ...          ...            ...          ...    ...
9995  6.519000e+12         Cyan      pre_order            7  206.0
9996  4.707960e+12    MintCream  limited_stock           55  557.0
9997  5.286510e+12    LightGray      pre_order           37  698.0
9998  3.702650e+12    SlateBlue       in_stock           52  183.0
9999  8.879840e+12        Ivory      backorder           70  904.0

      Selling_price
0            345.15
1            585.28
2            601.60
3            178.20
4            572.04
...             ...
9995         447.93
9996         192.00
9997         231.42
9998          30.15
9999          16.74

[10000 rows x 14 columns]

In [ ]:
# check how much table and column
df.shape

(10000, 14)

In [ ]:
#check type data form each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          10000 non-null  int64
 1   Name           10000 non-null  object
 2   Description    10000 non-null  object
 3   Brand          10000 non-null  object
 4   Category       10000 non-null  object
 5   MRP_Price      9997 non-null   float64
 6   Currency       10000 non-null  object
 7   Stock          9978 non-null   float64
 8   EAN            10000 non-null  float64
 9   Color          10000 non-null  object
 10  Availability   10000 non-null  object
 11  Internal ID    10000 non-null  int64
 12  Qty            9991 non-null   float64
 13  Selling_price  9985 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 1.1+ MB

In [ ]:
#check null data
df.isna().any()

Index            False
Name             False
Description      False
Brand            False
Category         False
MRP_Price         True
Currency         False
Stock             True
EAN              False
Color            False
Availability     False
Internal ID      False
Qty               True
Selling_price     True
dtype: bool

In [ ]:
#add up the blank values
df.isna().sum()

Index             0
Name              0
Description       0
Brand             0
Category          0
MRP_Price         3
Currency          0
Stock            22
EAN               0
Color             0
Availability      0
Internal ID       0
Qty               9
Selling_price    15
dtype: int64

In [ ]:
#check duplicate data
df.duplicated().sum()

np.int64(0)

In [ ]:
#check unique value
df.nunique()

Index            10000
Name              7896
Description      10000
Brand             9241
Category            34
MRP_Price          999
Currency             1
Stock              999
EAN               9952
Color              140
Availability         6
Internal ID         99
Qty                951
Selling_price     7905
dtype: int64

In [ ]:
#descirbe all
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Index,10000.0,NaN,NaN,NaN,5000.5,2886.89568,1.0,2500.75,5000.5,7500.25,10000.0
Name,10000,7896,Fan,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Description,10000,10000,Between key father half.,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brand,10000,9241,Kennedy LLC,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Category,10000,34,Clothing & Apparel,320,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MRP_Price,9997.0,NaN,NaN,NaN,503.327498,289.746061,1.0,251.0,506.0,756.0,999.0
Currency,10000,1,INR,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stock,9978.0,NaN,NaN,NaN,499.14071,288.02384,1.0,249.0,500.0,751.0,999.0
EAN,10000.0,NaN,NaN,NaN,5035709017000.380859,2887653409184.608887,261275896.0,2545170000000.0,5061905000000.0,7541985000000.0,9999340000000.0
Color,10000,140,Cornsilk,101,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Availability,10000,6,discontinued,1706,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Internal ID,10000.0,NaN,NaN,NaN,50.4755,28.555993,1.0,26.0,51.0,75.0,99.0
Qty,9991.0,NaN,NaN,NaN,523.69983,276.426889,50.0,281.5,522.0,765.0,1000.0
Selling_price,9985.0,NaN,NaN,NaN,365.369594,224.233871,0.5,177.03,353.4,529.75,949.05

In [ ]:
df.isna().sum()

Index             0
Name              0
Description       0
Brand             0
Category          0
MRP_Price         3
Currency          0
Stock            22
EAN               0
Color             0
Availability      0
Internal ID       0
Qty               9
Selling_price    15
dtype: int64

In [ ]:
#fill na with 0
df['Stock'].fillna(0,inplace=True)

/tmp/ipython-input-2987266135.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Stock'].fillna(0,inplace=True)

In [ ]:
#fill na with 0

df['Qty'].fillna(0,inplace=True)

/tmp/ipython-input-290176259.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Qty'].fillna(0,inplace=True)

In [ ]:
# blank mrp_price analysis

In [ ]:
mean_mrp_price = df['MRP_Price'].mean().round(2)

In [ ]:
print(mean_mrp_price)

503.33

In [ ]:
median_mrp_price = df['MRP_Price'].median()
print(median_mrp_price)

506.0

In [ ]:
# brand wise calculating mean, median for mrp_price

In [ ]:
brand_mrp_stats = df.groupby("Brand")["MRP_Price"].agg(
    mean_mrp="mean",
    median_mrp="median",
    count="count"
).reset_index()

print(brand_mrp_stats)

                             Brand  mean_mrp  median_mrp  count
0                       Abbott Ltd      95.0        95.0      1
1        Abbott, Holden and Conrad     800.0       800.0      1
2         Abbott, Lynch and Warner     521.0       521.0      1
3        Abbott, Pitts and Charles     527.0       527.0      1
4       Abbott, Zavala and Patrick     611.0       611.0      1
...                            ...       ...         ...    ...
9236   Zuniga, Schwartz and Barber     664.0       664.0      1
9237  Zuniga, Zavala and Contreras      71.0        71.0      1
9238                  Zuniga-Allen     496.0       496.0      1
9239              Zuniga-Mcpherson     969.0       969.0      1
9240                  Zuniga-Yates      32.0        32.0      1

[9241 rows x 4 columns]

In [ ]:
# Missing MRP values were filled using brand-wise median pricing, with overall median as fallback where brand-level data was insufficient.

In [ ]:
mrp_median = df.groupby("Brand")["MRP_Price"].median()
print(mrp_median)

Brand
Abbott Ltd                       95.0
Abbott, Holden and Conrad       800.0
Abbott, Lynch and Warner        521.0
Abbott, Pitts and Charles       527.0
Abbott, Zavala and Patrick      611.0
                                ...
Zuniga, Schwartz and Barber     664.0
Zuniga, Zavala and Contreras     71.0
Zuniga-Allen                    496.0
Zuniga-Mcpherson                969.0
Zuniga-Yates                     32.0
Name: MRP_Price, Length: 9241, dtype: float64

In [ ]:
df["MRP_Price"] = df["MRP_Price"].fillna(
    df["Brand"].map(mrp_median)
)

In [ ]:
overall_median = df["MRP_Price"].median()
df["MRP_Price"] = df["MRP_Price"].fillna(overall_median)

In [ ]:
print(overall_median)

506.0

In [ ]:
# selling price analysis

In [ ]:
mean_selling_price = df['Selling_price'].mean()

In [ ]:
print(mean_selling_price)

365.3695943915874

In [ ]:
median_selling_price = df['Selling_price'].median()

In [ ]:
print(median_selling_price)

353.4

In [ ]:
# brand wise calculating mean, median for selling price

In [ ]:
brand_selling_stats = df.groupby("Brand")["Selling_price"].agg(
    mean_mrp="mean",
    median_mrp="median",
    count="count"
).reset_index()

print(brand_selling_stats)

                             Brand  mean_mrp  median_mrp  count
0                       Abbott Ltd     60.80       60.80      1
1        Abbott, Holden and Conrad    488.00      488.00      1
2         Abbott, Lynch and Warner    401.17      401.17      1
3        Abbott, Pitts and Charles    447.95      447.95      1
4       Abbott, Zavala and Patrick    446.03      446.03      1
...                            ...       ...         ...    ...
9236   Zuniga, Schwartz and Barber    544.48      544.48      1
9237  Zuniga, Zavala and Contreras     46.86       46.86      1
9238                  Zuniga-Allen    381.92      381.92      1
9239              Zuniga-Mcpherson    629.85      629.85      1
9240                  Zuniga-Yates     16.64       16.64      1

[9241 rows x 4 columns]

In [ ]:
overall_selling_price_median = df["Selling_price"].median()
df["Selling_price"] = df["Selling_price"].fillna(overall_selling_price_median)

In [ ]:
print(overall_selling_price_median)

353.4

In [ ]:
df.isna().sum()

Index            0
Name             0
Description      0
Brand            0
Category         0
MRP_Price        0
Currency         0
Stock            0
EAN              0
Color            0
Availability     0
Internal ID      0
Qty              0
Selling_price    0
dtype: int64

In [ ]:
df

,Index,Name,Description,Brand,Category,MRP_Price,Currency,Stock,EAN,Color,Availability,Internal ID,Qty,Selling_price
0,1,Smart Fan Iron Cooker Go Wireless Portable,Catch enough role nearly.,Herman Ltd,Kids' Clothing,585.0,INR,194.0,3.968600e+12,Cornsilk,limited_stock,54,548.0,345.15
1,2,Fan,All movement yeah tax me.,"Braun, King and Rollins",Grooming Tools,992.0,INR,724.0,1.911270e+11,Bisque,discontinued,49,228.0,585.28
2,3,Smart Speakerphone Charger Eco Plus Clean,Quickly inside pull line lay start.,Peck-Coleman,Fishing & Hunting,940.0,INR,769.0,7.569140e+12,Blue,pre_order,42,520.0,601.60
3,4,Premium Grill Trimmer Portable,Lawyer one than fire.,Hines Ltd,Skincare,324.0,INR,93.0,2.705140e+12,Ivory,out_of_stock,93,251.0,178.20
4,5,Keyboard Freezer,Remain Congress blood plan voice.,"Spence, Webster and Orr",Laptops & Computers,908.0,INR,614.0,9.830390e+12,FloralWhite,discontinued,91,602.0,572.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,Powerbank,Yeah none boy fund city decision.,Castaneda-Harrison,Books & Stationery,567.0,INR,27.0,6.519000e+12,Cyan,pre_order,7,206.0,447.93
9996,9997,Rechargeable Lamp Scanner Vacuum,Appear country enter there pull thing computer.,Knapp-Key,Cycling,300.0,INR,177.0,4.707960e+12,MintCream,limited_stock,55,557.0,192.00
9997,9998,Heater,Owner plan approach soldier church little little.,"Meyer, Case and Mills",Fitness Equipment,399.0,INR,996.0,5.286510e+12,LightGray,pre_order,37,698.0,231.42
9998,9999,Rechargeable Headphones Stove,Base account partner probably.,Jones-Bell,Kitchen Appliances,45.0,INR,274.0,3.702650e+12,SlateBlue,in_stock,52,183.0,30.15
9999,10000,Clean Charger Treadmill,Return reflect truth tell scientist season.,Davis LLC,Sports & Outdoors,31.0,INR,46.0,8.879840e+12,Ivory,backorder,70,904.0,16.74

In [ ]:
# checking if there space

In [ ]:
df['Brand'].unique().tolist()

['Herman Ltd',
 'Braun, King and Rollins',
 'Peck-Coleman',
 'Hines Ltd',
 'Spence, Webster and Orr',
 'Marks, Guzman and Cooley',
 'Newman-Barajas',
 'Gutierrez, Singleton and Downs',
 'Weber and Sons',
 'Humphrey and Sons',
 'Moreno-Weaver',
 'Gentry, Vincent and Saunders',
 'Mclean-Aguilar',
 'Mcdaniel LLC',
 'Sosa LLC',
 'Macias Group',
 'Ali Group',
 'Gray-Deleon',
 'Yates, Logan and Cervantes',
 'Acosta, Sullivan and Chaney',
 'Mullins-Dodson',
 'Farrell-Ramos',
 'Bautista-Allen',
 'Larson LLC',
 'Bryan, Benitez and Barton',
 'Brock, Lawrence and Pennington',
 'Luna, Davidson and Galvan',
 'Fleming PLC',
 'Aguirre-Mercado',
 'Branch Ltd',
 'Carter-Holland',
 'Pollard-Branch',
 'Preston, Bowen and Singh',
 'Cunningham, Barr and Ponce',
 'Houston, Newton and Terry',
 'Galvan PLC',
 'Sims LLC',
 'Brewer-Day',
 'Stevenson-Cummings',
 'Foley-Thornton',
 'Pace, Becker and Ibarra',
 'Fernandez-Hendrix',
 'Rowe-Robinson',
 'Anthony, Monroe and Myers',
 'Ray-Monroe',
 'Johns-Huber',
 'Robbins and Sons',
 'Novak-Hamilton',
 'Le, Sampson and Walsh',
 'Bautista-Green',
 'Gonzales, Best and Ponce',
 'Wolfe-Holden',
 'Mcclure and Sons',
 'Powers-Burgess',
 'Lynch PLC',
 'Meza-Roberson',
 'Bernard, Bird and Eaton',
 'Lawrence LLC',
 'Zimmerman, Esparza and Andrews',
 'Chavez-Preston',
 'Williams-Morrison',
 'Costa, Mcneil and Stafford',
 'Conrad Group',
 'Page and Sons',
 'Hurst Inc',
 'Russell, Vance and Ortiz',
 'Hogan Ltd',
 'Bautista Ltd',
 'Davila, Bowman and Flynn',
 'Harding, Frederick and Holloway',
 'Alvarado Ltd',
 'Robbins-Duffy',
 'Henson-Ware',
 'Avery-Meadows',
 'Jones, Weber and Pitts',
 'Valenzuela, Mahoney and Lowery',
 'Huffman-Washington',
 'Torres, Christensen and Edwards',
 'Pacheco, Villanueva and Hubbard',
 'Espinoza-Bowman',
 'Haynes LLC',
 'Espinoza-Bond',
 'Perez Group',
 'Wilkinson, Dawson and Berger',
 'Roth-James',
 'Bradley Inc',
 'Weeks and Sons',
 'Hebert Group',
 'Park-Huffman',
 'Christensen Inc',
 'Brown-Berg',
 'Yates-Blankenship',
 'Frazier, Mitchell and Maxwell',
 'Hale Inc',
 'Serrano PLC',
 'Ortiz LLC',
 'Casey Ltd',
 'Mcknight, Parsons and Haley',
 'Pennington, York and Roberson',
 'Stein and Sons',
 'Maddox-Day',
 'Greer LLC',
 'Simon Inc',
 'Flynn, Morse and Horn',
 'Marks, Morrison and Morrow',
 'Barron and Sons',
 'Farrell, Gamble and Dodson',
 'Cox, Nguyen and Valencia',
 'Mendez PLC',
 'Jarvis-Bean',
 'Neal Inc',
 'Fry Ltd',
 'Hobbs-Mcclain',
 'Melton, Potter and Flores',
 'Lawson PLC',
 'Stephenson-Pacheco',
 'Butler-Mayer',
 'Gibson Inc',
 'Morton, Newman and Vega',
 'Everett Group',
 'Durham PLC',
 'Jones-Lawrence',
 'Gomez, Parker and Wheeler',
 'Saunders, Farley and Bradley',
 'Rosario-Velez',
 'Peters and Sons',
 'Abbott-Mccall',
 'Walker, Pittman and Wood',
 'Waller Ltd',
 'Golden, Booker and Green',
 'Norman, Dalton and Wolf',
 'Richardson, Knox and Parsons',
 'Hutchinson Ltd',
 'Mcmillan, Benton and Schneider',
 'Gilmore, Frey and Barron',
 'Carpenter Group',
 'Brady-Meyers',
 'Sanford, Pennington and Lang',
 'Barrera-Phelps',
 'Wu, Mcclure and Peters',
 'Mcdaniel-Shelton',
 'Weiss LLC',
 'Finley, Frey and Adkins',
 'Benton Inc',
 'Blevins, Meadows and Porter',
 'Pham-Robinson',
 'Archer, Bryant and Parker',
 'Lawson Group',
 'Norton LLC',
 'Randolph-Richardson',
 'Dixon-Pearson',
 'Anderson, Barker and Blevins',
 'Molina Group',
 'Drake-Stanley',
 'Simon, Andrade and Riggs',
 'West LLC',
 'Hernandez-Castro',
 'Villanueva-Steele',
 'Potter LLC',
 'Hobbs-Key',
 'Cruz-Sanford',
 'Robertson-Brown',
 'Huffman PLC',
 'Villegas-Stephenson',
 'Patton, Merritt and Baker',
 'Arnold-Melton',
 'Howe Group',
 'Hurst, Travis and Cervantes',
 'Frank and Sons',
 'Simpson LLC',
 'Ballard-Potter',
 'Keith-Howe',
 'Bradshaw LLC',
 'Brady PLC',
 'Goodwin Inc',
 'Wilkins PLC',
 'Frazier, Gamble and Meza',
 'Mcguire, Peterson and Pratt',
 'Fernandez-Russell',
 'Mann Ltd',
 'Hudson, Mueller and Vargas',
 'Levine-Dominguez',
 'Park Group',
 'Santos PLC',
 'Reyes Group',
 'Branch, Rocha and Orozco',
 'Tapia-Russo',
 'Hunter, Mullen and Haley',
 'Singh, Allison and Horton',
 'Mclean-Ortega',
 'Brennan-Kline',
 'Rasmussen-Mckee',
 'Mckee-Golden',
 'Reed, Christian and Walters',
 'Morrison, Hodge and Hart',
 'Stuart and Sons',
 'Wise Group',
 'Schmidt, Greene and Huerta',
 'Bryant-Bauer',
 'Oneill-Phillips',
 'Petty Group',
 'Soto PLC',
 'Walsh, Benitez and Meza',
 'Byrd-Meza',
 'Osborne-Vaughan',
 'Scott-Hendrix',
 'Cross-Zhang',
 'Cunningham-Smith',
 'Savage-Woodward',
 'David-Pope',
 'Gamble, Allen and Contreras',
 'Frost-Cook',
 'Santos Group',
 'Mcclure, Bolton and Webb',
 'Melton-Bond',
 'Maynard-Becker',
 'Daniel PLC',
 'Reyes-Gonzales',
 'Alvarez-Young',
 'Dixon, Cervantes and Green',
 'Contreras PLC',
 'Patterson, Andersen and Maldonado',
 'Mendoza-Boyd',
 'Pope, Dudley and Humphrey',
 'Cummings, Rosario and Oneill',
 'Mcmillan, Williamson and Hernandez',
 'Pittman PLC',
 'Mcintosh Group',
 'Weiss, Marshall and David',
 'Leonard-Ayers',
 'Solis-Swanson',
 'Elliott, Ward and Cunningham',
 'Lamb Group',
 'Bowers, Vargas and Allen',
 'Martin-Gutierrez',
 'Stuart, Hester and Vance',
 'Hahn-Conrad',
 'Blanchard PLC',
 'Stevens Ltd',
 'Mcclure Group',
 'Hendrix-Downs',
 'Joyce, Browning and Sexton',
 'Braun-Lang',
 'Ibarra, Hutchinson and Frazier',
 'Griffin Inc',
 'Potts, Smith and Wilson',
 'Stanley, Spence and Shah',
 'Francis LLC',
 'Cunningham, Barry and Skinner',
 'Reid, Leonard and Santos',
 'Mcclain LLC',
 'Mercer and Sons',
 'Lane-Woodward',
 'Carlson, Zuniga and Huerta',
 'Avery, Hopkins and Lopez',
 'Hensley-Parsons',
 'David LLC',
 'Boyle-Leonard',
 'Ballard-Jacobs',
 'Rush, Bowen and Gibson',
 'Watkins Group',
 'Rubio, Carey and Jimenez',
 'Palmer-Kirk',
 'Wilkinson Group',
 'Lowe-Lin',
 'Wallace LLC',
 'Kaufman and Sons',
 'Patel Inc',
 'Norris, Mora and Ramirez',
 'Vang-Haney',
 'Rowe-Dominguez',
 'Crane Inc',
 'Chandler Group',
 'Decker Group',
 'Scott and Sons',
 'Wells Group',
 'Romero-Mcneil',
 'Scott, Vance and Knight',
 'Chung Ltd',
 'Porter-Stuart',
 'Rhodes-Phillips',
 'Kent and Sons',
 'Mcmillan, Foster and Banks',
 'Sims-Villa',
 'Oconnell, Krueger and Harrell',
 'Mcmahon, Goodwin and Davies',
 'Malone-Rojas',
 'Wang, Bullock and Neal',
 'Rosario, Baldwin and Chen',
 'Moyer, Davis and Sampson',
 'Brennan, Hutchinson and Morgan',
 'Glenn, Chase and Lyons',
 'Hood Ltd',
 'Gibson-Rhodes',
 'Davila-Webster',
 'Stone PLC',
 'Morse PLC',
 'Frazier-Sparks',
 'Sheppard-Shaw',
 'Barnes and Sons',
 'Bates-Best',
 'Romero PLC',
 'Delacruz, Ponce and Newton',
 'Black-Carpenter',
 'Huffman-Cook',
 'Thomas LLC',
 'Kelley, Rosario and Poole',
 'Johnson, Archer and Ashley',
 'Fernandez-Warner',
 'Meza, Mckee and Mcpherson',
 'Romero-Beard',
 'Kline, Pacheco and Ward',
 'Osborn, Hickman and Neal',
 'Page-Mcneil',
 'Turner, Delacruz and Carey',
 'Bartlett Inc',
 'Rojas Inc',
 'Roach Inc',
 'Rivas, Tucker and Leon',
 'Hardy, Gallagher and Terry',
 'Simmons-Gilbert',
 'Dillon PLC',
 'Patterson, Buck and Foster',
 'Lang-Morris',
 'Short, Lee and Barrera',
 'Beltran-Mcclure',
 'Gibbs, Gonzalez and Pope',
 'Olsen-Trevino',
 'Mathews PLC',
 'Castillo Group',
 'Avery-Clay',
 'Schmitt Inc',
 'Mcconnell, Horton and Alvarez',
 'Frederick, Guerrero and Brewer',
 'Pena-Beard',
 'Cross Ltd',
 'Schmitt-Foley',
 'Cooke-Lane',
 'Khan Group',
 'Ingram, Burgess and Weber',
 'Wilcox-Dudley',
 'Jarvis, Wiley and Diaz',
 'Schneider-Arroyo',
 'Cobb and Sons',
 'Medina, Pruitt and Knight',
 'Salas and Sons',
 'Caldwell LLC',
 'Deleon, Huffman and Murillo',
 'Whitehead, Prince and Shelton',
 'Pacheco Ltd',
 'Parks PLC',
 'Bray Inc',
 'Juarez, Herring and Escobar',
 'Jacobson-Blair',
 'Archer-Acosta',
 'Chase-Barker',
 'Taylor-Garner',
 'Hanna, Wilkinson and Morse',
 'West Ltd',
 'Dennis Ltd',
 'Thomas-Hale',
 'Hahn PLC',
 'Stout, Cisneros and Warner',
 'Bruce, Ramirez and Stark',
 'Estrada, Lloyd and Holt',
 'Garrett PLC',
 'Greene-Hendricks',
 'Fuentes, Quinn and Charles',
 'Mathews LLC',
 'Thomas Group',
 'Marquez Group',
 'Middleton, Booker and Chaney',
 'Lambert, Mcfarland and Oneal',
 'Huff, Hancock and Lewis',
 'Bennett-Howard',
 'Le-Lewis',
 'Acosta-Mckay',
 'Garrison-Savage',
 'Cooley, Stokes and Pugh',
 'Lopez Inc',
 'Hale-Mcdaniel',
 'Patton-Huang',
 'Diaz Inc',
 'Cox-Mccoy',
 'Kirk-Pierce',
 'Ramsey-Torres',
 'Blair-Lee',
 'Suarez-Chapman',
 'Caldwell Ltd',
 'Blanchard-Rivas',
 'Valenzuela Inc',
 'Crane, Clay and Cherry',
 'Spence Ltd',
 'Bowen, Shah and Mcgrath',
 'Lang-Hill',
 'Reid, Daugherty and Turner',
 'Beard PLC',
 'Cisneros-Kent',
 'Singleton, Ward and Boone',
 'Rasmussen LLC',
 'Frey PLC',
 'Hines-Decker',
 'Santiago-Schultz',
 'Jarvis, Whitehead and Glass',
 'Lyons-Callahan',
 'Ryan-Huber',
 'Li, Reese and Lindsey',
 'Huber, Tate and Valdez',
 'Mata Inc',
 'Hudson, Hansen and Austin',
 'Chung-Mcclain',
 'Wilkins Ltd',
 'Benton Group',
 'Avila, Livingston and Fox',
 'Fitzgerald-Flores',
 'Krueger-Wagner',
 'Velazquez-Browning',
 'Schaefer, Morton and Higgins',
 'Page PLC',
 'Parrish, Caldwell and Higgins',
 'Newman LLC',
 'Lester, Fritz and Warren',
 'Mays-Hawkins',
 'Nielsen Group',
 'Blackwell Ltd',
 'Lang-Grimes',
 'Lewis LLC',
 'Bird and Sons',
 'Faulkner Group',
 'Espinoza, Summers and Suarez',
 'Andrade, Sanchez and Berg',
 'May Inc',
 'Hebert, Daniels and Stewart',
 'Short-Bright',
 'Escobar Inc',
 'Tyler and Sons',
 'Duffy Ltd',
 'David, Griffin and Castaneda',
 'Barrera-Sanders',
 'Guerrero Ltd',
 'Paul, Burnett and Craig',
 'Brown LLC',
 'Burnett, Wood and Mckay',
 'Estes PLC',
 'Schultz-Quinn',
 'Scott, Waters and Madden',
 'Maynard-Mendez',
 'Cannon, Weaver and Simon',
 'Patel-Patrick',
 'Saunders, Dominguez and Patel',
 'Hendricks, Bryan and Moreno',
 'Weaver, Booker and Hunt',
 'Hopkins Group',
 'Baldwin, Oconnor and Cortez',
 'Peck, Costa and Mcconnell',
 'Sullivan PLC',
 'Douglas-Rich',
 'Mayo Inc',
 'Marshall, Larson and Mays',
 'Lynn, Freeman and Reyes',
 'Carr, Mcknight and Bailey',
 'Petersen, Mcneil and Bruce',
 'Salazar-Jacobs',
 'Sherman-Elliott',
 'Marshall, Duncan and Rasmussen',
 'Pierce Inc',
 'Sullivan, Krause and Jennings',
 'Garcia, Gutierrez and Ingram',
 'Mata Group',
 'Contreras-Zhang',
 'Herman Inc',
 'Wallace-Whitehead',
 'Sampson, Benton and Avery',
 'Krueger PLC',
 'Schroeder, Parks and Lucas',
 'Robles PLC',
 'Oconnor Ltd',
 'Adams Ltd',
 'Thomas Inc',
 'Mann-Sparks',
 'Sanders-Collins',
 'Holden, Frye and Mccoy',
 'Crosby, Hale and Schneider',
 'George, Ross and Kramer',
 'Evans-Shelton',
 'Powell, Wilcox and Cantu',
 'Mccullough LLC',
 'Lester, Glover and Davila',
 'Sexton-Craig',
 'Pena-Fischer',
 'Schroeder PLC',
 'Ray, Reed and Mayo',
 'Bautista-Bauer',
 'Webster, Lang and Fernandez',
 'Sloan LLC',
 'Mcpherson, Sheppard and Carroll',
 'Lozano, Watts and Everett',
 'Wilkins and Sons',
 'Holloway-Fitzpatrick',
 'Valencia-Page',
 'Kelley LLC',
 'Dyer-Lopez',
 'Zavala, Pierce and Hess',
 'David-Barajas',
 'Page-Howell',
 'Bass and Sons',
 'Mendez, Roberson and Ferguson',
 'Navarro and Sons',
 'Ballard-Berger',
 'Marshall Inc',
 'Mcclure-House',
 'Frazier-Perkins',
 'Sellers-Sampson',
 'Kemp-Cherry',
 'Klein, Miranda and Benitez',
 'Rogers, Durham and Hahn',
 'Durham, Hodges and Hinton',
 'Norman PLC',
 'Vincent-Fox',
 'Jarvis-Lin',
 'Bentley-Prince',
 'Maddox, Mcdowell and Harding',
 'Salas Group',
 'Travis-Maldonado',
 'Levine PLC',
 'Hardy-Meyer',
 'Gentry, Cannon and Short',
 'Blanchard Inc',
 'Travis Group',
 'Key, Meyers and Fitzgerald',
 'Santana, Frey and Hodges',
 'Abbott, Pitts and Charles',
 'Floyd Ltd',
 'Hubbard LLC',
 'Cunningham-Sellers',
 'Hill-Hanna',
 'Rubio, Chen and Jordan',
 'Thomas-Russell',
 'Ball, Arellano and Dunlap',
 'Simmons, Bernard and Farmer',
 'Scott, Sanford and Mccarthy',
 'Gallegos, Bray and Hanson',
 'Ellis, Mason and Joyce',
 'Velasquez Ltd',
 'Frye, Kaiser and Owen',
 'Lester, Estrada and Simpson',
 'Calhoun and Sons',
 'Peterson and Sons',
 'Bright PLC',
 'Hicks-Owens',
 'Yates, Dunlap and Little',
 'Gamble Ltd',
 'Watson Group',
 'Salinas, Carney and Glenn',
 'Tyler-Stone',
 'Barker, Hartman and Jennings',
 'Larson-Cannon',
 'Alvarez-Tran',
 'Esparza, Moreno and Abbott',
 'Collier, Haynes and Herrera',
 'Paul-May',
 'Alvarez, Brandt and Baldwin',
 'Jacobs, Preston and Arnold',
 'Jennings PLC',
 'Davies-Brewer',
 'Smith PLC',
 'Erickson-Hahn',
 'Manning-Odonnell',
 'Bauer-Hudson',
 'Wall, Sherman and Medina',
 'Meyers, Spears and Combs',
 'Pena, Cherry and Mooney',
 'Ramirez Ltd',
 'Galloway, Jefferson and Mccarthy',
 'Mejia Group',
 'Bailey Inc',
 'Cortez, Floyd and Spencer',
 'Glover, Wilkinson and Patterson',
 'Greer-Hebert',
 'Villegas, Hernandez and Reynolds',
 'Hunter-Guzman',
 'Munoz, Lester and Little',
 'Avila Group',
 'Davidson-Walsh',
 'Franco Inc',
 'Chambers Group',
 'Ramsey Group',
 'Fischer-Rivers',
 'Adams Inc',
 'Garrett, Lucas and Castaneda',
 'Brandt, Dean and Dunlap',
 'Medina, Bautista and Marks',
 'Welch LLC',
 'Snyder-Rosario',
 'Dalton, Schaefer and Morrow',
 'Berg, Ryan and Valenzuela',
 'Schultz Inc',
 'Frost, Mccormick and Calhoun',
 'Soto Inc',
 'Lloyd Ltd',
 'Singh-Gillespie',
 'Davis and Sons',
 'Peterson, Woods and Caldwell',
 'Douglas Group',
 'Zhang, Ferguson and Henderson',
 'Sims-Vance',
 'Villanueva Ltd',
 'Moreno Group',
 'Brennan-Ayers',
 'Black LLC',
 'Steele, Hogan and Bradshaw',
 'Bowen, Cunningham and Macdonald',
 'Snyder, Serrano and Wong',
 'Becker-Moore',
 'Gross, Johnston and Todd',
 'James-Marquez',
 'Moyer-Garner',
 'Meyer-Pollard',
 'Burton and Sons',
 'Wheeler and Sons',
 'Mcknight Ltd',
 'Mckinney, Hobbs and Savage',
 'Meyers Group',
 'Sutton-Fitzgerald',
 'Conner, Gilmore and Powell',
 'Patton LLC',
 'Lam-Floyd',
 'Grimes-Blackwell',
 'Thornton PLC',
 'Jarvis-Woods',
 'Lowe Group',
 'Andrade Ltd',
 'Casey, Fitzpatrick and Deleon',
 'Waller-Castaneda',
 'Hodge and Sons',
 'Collier, Neal and Hardin',
 'Landry, Mayer and Mcdowell',
 'Nolan-Bernard',
 'Winters PLC',
 'Russo LLC',
 'Lucas Ltd',
 'Pierce, Munoz and Moore',
 'Carney-Barry',
 'Kaiser-Ward',
 'Snyder Group',
 'Wolfe, Lewis and Clark',
 'Harrell-Hale',
 'Jenkins, Cantu and Cisneros',
 'Andrews and Sons',
 'Vazquez, Montgomery and Vance',
 'Pitts-Juarez',
 'Williamson Group',
 'Harding, Sparks and Greer',
 'Mills PLC',
 'Valdez PLC',
 'Zavala-Richards',
 'Cervantes-Baldwin',
 'Benton LLC',
 'Perkins, Pittman and Middleton',
 'Welch, Levy and Davidson',
 'Stein, Higgins and Mathews',
 'Austin-Taylor',
 'Wagner, Pruitt and Reese',
 'Conrad, Weiss and Mckinney',
 'Welch-Stout',
 'Anderson, Dodson and Patel',
 'Suarez-Mercado',
 'Christensen-Mitchell',
 'Bell, Simon and Shea',
 'Landry-Archer',
 'Russell, Mitchell and Mathis',
 'Beard-Lawson',
 'Ayala, George and Ferguson',
 'Sherman-Beard',
 'Jarvis-Henry',
 'Jackson LLC',
 'Lee-Lucero',
 'Cohen, Leon and Harvey',
 'Shields Ltd',
 'Hopkins-Moon',
 'Morris, House and Arellano',
 'Combs-Case',
 'Rowland, Hunt and Harvey',
 'Kerr-Meza',
 'Skinner, Kennedy and Mcneil',
 'Delacruz, Burke and Hinton',
 'Pham-Hampton',
 'Duke-Donaldson',
 'Simpson-Harding',
 'Lowery-Marshall',
 'Graves PLC',
 'Bryant Inc',
 'Jacobs PLC',
 'Mcknight-Zhang',
 'Chase, Ayala and Woods',
 'Kramer, Kline and Mack',
 'Freeman, Buck and Hess',
 'Christian, Lowery and Reese',
 'Levy-Atkins',
 'Orr Inc',
 'Dunn Inc',
 'Bautista Inc',
 'Little Group',
 'Burnett Group',
 'Walls LLC',
 'Little PLC',
 'Harris-Farmer',
 'Reeves, Aguirre and Tate',
 'Crawford-Benson',
 'Dyer-Mendoza',
 'Mccormick, Dixon and Thornton',
 'Rodgers, Warren and Pruitt',
 'Wall, Brown and Choi',
 'Nixon, Benjamin and Combs',
 'Dunlap, Conrad and Bartlett',
 'Khan and Sons',
 'Wilkerson-Thompson',
 'Mccormick and Sons',
 'Mccoy, George and Hensley',
 'Lambert LLC',
 'Mcmillan Ltd',
 'Stout, Herman and George',
 'Petty Ltd',
 'Williamson, Nielsen and Pollard',
 'Barton, Ortiz and Camacho',
 'Castillo Inc',
 'Lynn-Mueller',
 'Stein, Walters and Bennett',
 'Potts-Acosta',
 'Solomon LLC',
 'Maldonado, Merritt and Savage',
 'Drake, Wright and Barber',
 'Byrd, Middleton and Jensen',
 'Duran, Solis and Pruitt',
 'Fletcher Inc',
 'Cochran Inc',
 'Potter-Ibarra',
 'Franco-Frazier',
 'Gamble Inc',
 'Church-Thomas',
 'Vaughn, Dalton and Flynn',
 'Walsh, Caldwell and Conrad',
 'Mora, Berry and Gray',
 'Randolph-Jacobs',
 'Porter and Sons',
 'Booth Inc',
 'Espinoza Inc',
 'Lambert PLC',
 'Odonnell, Cook and Ellison',
 'Jordan LLC',
 'Murphy, Rush and Bird',
 'Gamble, Rich and Merritt',
 'Pratt LLC',
 'Bender LLC',
 'Mckay-Atkinson',
 'Cohen, Khan and Montoya',
 'Macias-Rangel',
 'Mcknight-Gibson',
 'Mccarthy Ltd',
 'Fitzgerald, Navarro and Benson',
 'Randall, Valentine and Sosa',
 'Hobbs-Barnes',
 'Floyd-Kidd',
 'Cooley-Tapia',
 'Leonard-Mcpherson',
 'Crosby and Sons',
 'Camacho-Doyle',
 'Blake PLC',
 'Dudley-Rice',
 'Oneal, Costa and Wang',
 'Ayers Ltd',
 'Simpson Group',
 'Hanson-Hale',
 'Blake-Cline',
 'Hodges Ltd',
 'Burton-Rubio',
 'Terrell Inc',
 'Sampson LLC',
 'Pennington, Walsh and Mccoy',
 'Mullins, Nash and Huber',
 'Burch-Maldonado',
 'Kelley, Crosby and Hubbard',
 'Hansen Ltd',
 'Shannon, Bridges and Arroyo',
 'Parrish, Duarte and Andrade',
 'Christensen-Hayden',
 'Ali-Brandt',
 'Cline-Singleton',
 'Dorsey LLC',
 'Stark, Rice and Roth',
 'Moreno PLC',
 'Doyle Ltd',
 'Mills-Robles',
 'Garner-Dickson',
 'Gill, Barrett and Kidd',
 'Michael-Patrick',
 'Henson and Sons',
 'Villegas-Benson',
 'Salazar Group',
 'Bryan-Ewing',
 'Ware, Vazquez and Fuentes',
 'Stokes-Oliver',
 'Rivas Ltd',
 'Duffy PLC',
 'Mayer PLC',
 'Ballard, Hawkins and Miller',
 'Sutton-Coffey',
 'Hale PLC',
 'Lawson Ltd',
 'Ross, Christian and Wilkins',
 'Merritt LLC',
 'Estrada-Hodge',
 'Day-Rangel',
 'Kelly-Montgomery',
 'Mccoy Inc',
 'Riggs, James and Faulkner',
 'Sanders LLC',
 'Mercado LLC',
 'Ramirez-Gonzalez',
 'Guerra, Shea and Kirby',
 'Pitts-Fischer',
 'Meyers Inc',
 'Hensley LLC',
 'Lawson-Stout',
 'Mathis Ltd',
 'Carr Group',
 'Morales LLC',
 'Ayers-Andersen',
 'Chandler, Sharp and Mullen',
 'Tate, Rangel and Hooper',
 'Burch-Nguyen',
 'Reed, Kelley and Braun',
 'Boone, Mccarthy and Riggs',
 'Baird PLC',
 'Newton Ltd',
 'Larsen Group',
 'Woodard-Davila',
 'Harris-Meyers',
 'Downs-Rangel',
 'Barker Inc',
 'Levine-James',
 'Willis, Horn and Travis',
 'Spears, Luna and Decker',
 'Haas, Hanson and Miller',
 'Cordova Inc',
 'Lewis Group',
 'Branch-Rush',
 'Mclean LLC',
 'Jones-Shannon',
 'Bender PLC',
 'Flores-Craig',
 'Cox-Sanchez',
 'Lam-Contreras',
 'Mckinney-Wilcox',
 'Collins Ltd',
 'Lyons Ltd',
 'Morris-Swanson',
 'Brennan Inc',
 'Boyd, Daugherty and Hanson',
 'Burnett and Sons',
 'Kent, Kaiser and Velasquez',
 'Bridges PLC',
 'Peterson LLC',
 'Arellano-Sexton',
 'Stewart and Sons',
 'Huff-Mora',
 'Holloway, Acevedo and Good',
 'Wolf, Sherman and Michael',
 'Davis-Burgess',
 'Bray-Klein',
 'Turner Inc',
 'Villarreal Ltd',
 'Schwartz, Shaw and Case',
 'Munoz, Walsh and Keith',
 'Santos-Barber',
 'Chambers, Dorsey and Dougherty',
 'Rodgers-Copeland',
 'Dominguez-Mcneil',
 'Ho-Mcpherson',
 'Mcintosh, Lynn and Taylor',
 'Cabrera, Lester and Hanna',
 'Trujillo-Hardin',
 'Arellano, Obrien and Warner',
 'Schaefer, Wells and Guerra',
 'Michael Inc',
 'Newton, Singleton and Hoffman',
 'Carrillo, Sims and Hebert',
 'Sullivan, Villa and Trevino',
 'George, Pruitt and Roach',
 'Stafford-Fowler',
 'Cantrell PLC',
 'Kelley Inc',
 'Dorsey, Harrington and Franco',
 'Guerra, Bush and Beltran',
 'Novak Ltd',
 'Munoz-Byrd',
 'Mueller Group',
 'Conway Group',
 'Delacruz, Donaldson and Bolton',
 'Daniels Ltd',
 'Solomon, Levine and Crane',
 'Bray Ltd',
 'Ballard, Atkins and Baxter',
 'Miller Inc',
 'Mason Ltd',
 'Burgess, Gay and Bray',
 'Bowman-Padilla',
 'Parks, Sharp and Oliver',
 'Cobb Inc',
 'Welch Group',
 'Cole, Nguyen and Chaney',
 'Massey, Houston and Schroeder',
 'Delacruz, Rubio and Price',
 'Benjamin-Aguilar',
 'Kelly PLC',
 'Ingram-Boyd',
 'Campbell Inc',
 'Hunt, Sanders and Tucker',
 'Pugh, Barrera and Valentine',
 'Oneill, Powers and Payne',
 'Pena-Whitney',
 'Robles, Preston and Hensley',
 'Gomez, Shelton and Peterson',
 'Williamson PLC',

In [ ]:
df['Category'].unique().tolist()

["Kids' Clothing",
 'Grooming Tools',
 'Fishing & Hunting',
 'Skincare',
 'Laptops & Computers',
 'Kitchen Appliances',
 'Clothing & Apparel',
 'Beauty & Personal Care',
 'Makeup',
 'Toys & Games',
 "Men's Clothing",
 'Camping & Hiking',
 'Cleaning Supplies',
 'Headphones & Earbuds',
 'Home & Kitchen',
 'Haircare',
 'Cameras & Accessories',
 'Bedding & Bath',
 'Accessories (Bags, Hats, Belts)',
 'Team Sports',
 'Smartwatches',
 'Fragrances',
 "Women's Clothing",
 'Shoes & Footwear',
 'Furniture',
 'Home Decor',
 'Fitness Equipment',
 'Health & Wellness',
 'Smartphones',
 'Office Supplies',
 'Cycling',
 'Automotive',
 'Sports & Outdoors',
 'Books & Stationery']

In [ ]:
df['Brand'].value_counts()

Brand
Kennedy LLC                      5
Buckley Inc                      4
Watkins Group                    4
Flores LLC                       4
Johnston Ltd                     4
                                ..
Hendricks LLC                    1
Mcconnell, Rangel and Brennan    1
Wall-Mack                        1
Mcfarland-Henry                  1
Graham Ltd                       1
Name: count, Length: 9241, dtype: int64

In [ ]:
df['Availability'].unique().tolist()

['limited_stock',
 'discontinued',
 'pre_order',
 'out_of_stock',
 'in_stock',
 'backorder']

In [ ]:
df['Availability'].value_counts()

Availability
discontinued     1706
out_of_stock     1700
pre_order        1673
limited_stock    1644
in_stock         1644
backorder        1633
Name: count, dtype: int64

In [ ]:
df['Color'].unique().tolist()

['Cornsilk',
 'Bisque',
 'Blue',
 'Ivory',
 'FloralWhite',
 'LightSalmon',
 'MediumPurple',
 'PaleGreen',
 'DarkBlue',
 'SandyBrown',
 'Thistle',
 'OldLace',
 'LightSkyBlue',
 'MediumBlue',
 'DarkTurquoise',
 'Azure',
 'DeepSkyBlue',
 'DarkSeaGreen',
 'BlanchedAlmond',
 'LavenderBlush',
 'LemonChiffon',
 'SaddleBrown',
 'CadetBlue',
 'DarkSalmon',
 'HoneyDew',
 'DarkRed',
 'Peru',
 'AntiqueWhite',
 'DarkCyan',
 'LightGray',
 'RoyalBlue',
 'CornflowerBlue',
 'Red',
 'PaleGoldenRod',
 'IndianRed',
 'LimeGreen',
 'Aqua',
 'Snow',
 'SpringGreen',
 'Teal',
 'DarkOrchid',
 'LightGreen',
 'GreenYellow',
 'Plum',
 'MediumOrchid',
 'Fuchsia',
 'MediumSpringGreen',
 'LightBlue',
 'Orchid',
 'MediumTurquoise',
 'RosyBrown',
 'Crimson',
 'Tomato',
 'LightGoldenRodYellow',
 'LightSeaGreen',
 'SlateBlue',
 'PowderBlue',
 'Salmon',
 'MintCream',
 'GoldenRod',
 'PapayaWhip',
 'LightPink',
 'Indigo',
 'Chocolate',
 'YellowGreen',
 'OliveDrab',
 'MidnightBlue',
 'OrangeRed',
 'Maroon',
 'SlateGray',
 'Linen',
 'GhostWhite',
 'MediumVioletRed',
 'SteelBlue',
 'MediumSeaGreen',
 'Brown',
 'LawnGreen',
 'DarkSlateBlue',
 'Sienna',
 'HotPink',
 'ForestGreen',
 'Navy',
 'FireBrick',
 'Turquoise',
 'PeachPuff',
 'DarkSlateGray',
 'LightSteelBlue',
 'LightSlateGray',
 'BlueViolet',
 'LightYellow',
 'DarkGray',
 'DimGray',
 'MediumSlateBlue',
 'Wheat',
 'SeaShell',
 'MediumAquaMarine',
 'Violet',
 'Magenta',
 'Purple',
 'Green',
 'PaleVioletRed',
 'SkyBlue',
 'Gold',
 'Coral',
 'Chartreuse',
 'SeaGreen',
 'Silver',
 'Orange',
 'DarkOliveGreen',
 'Cyan',
 'Lavender',
 'MistyRose',
 'PaleTurquoise',
 'DarkGreen',
 'Gray',
 'LightCyan',
 'Gainsboro',
 'LightCoral',
 'Moccasin',
 'DarkViolet',
 'Olive',
 'WhiteSmoke',
 'DarkKhaki',
 'Yellow',
 'Tan',
 'NavajoWhite',
 'DarkMagenta',
 'AliceBlue',
 'DeepPink',
 'Lime',
 'White',
 'Khaki',
 'Black',
 'DarkGoldenRod',
 'Pink',
 'DarkOrange',
 'Beige',
 'DodgerBlue',
 'Aquamarine',
 'BurlyWood']

In [ ]:
df['Color'].value_counts()

Color
Cornsilk        101
Peru             93
AntiqueWhite     92
Ivory            92
Salmon           88
               ...
MediumPurple     56
FloralWhite      55
Wheat            53
White            49
Turquoise        48
Name: count, Length: 140, dtype: int64

In [ ]:
df['Name'].unique().tolist()

['Smart Fan Iron Cooker Go Wireless Portable',
 'Fan',
 'Smart Speakerphone Charger Eco Plus Clean',
 'Premium Grill Trimmer Portable',
 'Keyboard Freezer',
 'Smart Fridge Plus',
 'Compact Dock One Portable Wireless',
 'Premium Cooler Digital Portable X',
 'Compact Fan Scooter Headphones',
 'Eco Dock Air',
 'Thermostat Stove Lamp',
 'Mini Powerbank Lite Plus',
 'Scooter Bicycle Oven',
 'Wireless Light Heater Clock X',
 'Ultra Powerbank Scale Automatic',
 'Projector',
 'Blender',
 'Wireless Speakerphone Oven Advanced',
 'Iron Microphone',
 'Lock',
 'Automatic Speaker Wireless Plus Edge',
 'Eco Treadmill Plus Smart',
 'Smart Microphone Clock Ultra One',
 'Digital Router Scanner One',
 'Pro Stove Light',
 'Clean Mixer Ultra Eco',
 'Ultra Fan',
 'Ultra Drone Smart',
 'Smart Lock Mini Pro',
 'Rechargeable Keyboard Toaster Monitor Portable Fast',
 'Mini Mixer Freezer Trimmer Smart',
 'Heater Cooker',
 'Fast Shaver X One',
 'Wireless Webcam Bicycle Camera',
 'Clean Scale Speaker Powerbank Clean Wireless',
 'Advanced Fan Powerbank',
 'Pro Thermostat Speaker Touch Eco',
 'Fast Blender Treadmill Tablet One Air',
 'Automatic Iron Toaster Projector',
 'Smart Scale Stove',
 'Smart Webcam Mouse Digital',
 'Compact Drone Lite',
 'Digital Scale Wireless One Portable',
 'Clean Drone Thermostat Headphones',
 'Wireless Scooter',
 'Clean Light Advanced Smart Premium',
 'Compact Fan Iron Clock Digital',
 'Ultra Watch Eco',
 'Fast Lamp Scanner Vacuum',
 'Eco Stove Edge',
 'Fast Powerbank Radio Automatic Touch Ultra',
 'Pro Oven Scale',
 'Smart Printer Charger Brush Smart Ultra Touch',
 'Wireless Watch Premium Air',
 'Advanced Thermostat Microphone Scooter Clean Smart',
 'Pro Mouse Mini Rechargeable',
 'Silent Powerbank Radio Smart Plus',
 'Clean Speakerphone Edge Rechargeable Max',
 'Silent Heater Stove Scanner',
 'Smart Mixer Bicycle Fridge',
 'Smart Freezer Clean',
 'Automatic Blender Toaster Camera',
 'Premium Mouse Lamp Ultra Touch Compact',
 'Ultra Drone Wireless Go Clean',
 'Smart Monitor Cooler Dock Automatic Lite Prime',
 'Automatic Fridge Freezer',
 'Rechargeable Router Keyboard',
 'Digital Microphone Camera',
 'Smart Stove Iron',
 'Ultra Treadmill',
 'Mini Shaver Mouse Fast Mini X',
 'Wireless Fridge Cooker Portable Edge',
 'Fan Iron Cooker',
 'Eco Fridge Printer Mouse',
 'Wireless Scanner Tablet Radio',
 'Pro Stove Light Air Mini',
 'Shaver',
 'Smart Grill Trimmer',
 'Portable Vacuum Printer Go',
 'Compact Powerbank Radio',
 'Pro Freezer Prime',
 'Digital Printer Webcam Wireless Edge Air',
 'Trimmer Cooler',
 'Portable Projector Portable Air',
 'Portable Powerbank',
 'Smart Lock Premium',
 'Automatic Printer Premium',
 'Eco Trimmer Touch',
 'Compact Powerbank Radio Lite Digital Digital',
 'Automatic Vacuum Fan',
 'Digital Iron Heater 360 Clean Edge',
 'Silent Scanner Mouse Digital Edge',
 'Silent Freezer Projector Webcam',
 'Clean Monitor Light Plus',
 'Rechargeable Freezer Powerbank Watch Wireless Rechargeable Prime',
 'Rechargeable Mixer Drone Fan Sense Wireless',
 'Wireless Brush',
 'Pro Trimmer Cooler',
 'Wireless Heater Compact',
 'Fast Grill Grill',
 'Premium Printer Fan Pro Compact',
 'Light',
 'Automatic Clock Lock 360 Premium',
 'Wireless Powerbank Iron Brush Pro Clean',
 'Mixer Toaster Toaster',
 'Wireless Oven Trimmer',
 'Fast Headphones Stove Rechargeable Clean',
 'Compact Heater Stove Scanner Rechargeable Silent Compact',
 'Compact Watch Microphone Microphone',
 'Rechargeable Lamp X',
 'Pro Cooler Vacuum Go Ultra',
 'Fridge Camera',
 'Smart Microphone Headphones Sense',
 'Light Toaster',
 'Dock Router Webcam',
 'Wireless Projector Freezer',
 'Smart Watch Headphones Kettle',
 'Silent Radio Prime Portable Automatic',
 'Compact Projector Brush Clean',
 'Smart Freezer',
 'Ultra Lamp Freezer Lite Ultra Rechargeable',
 'Pro Lamp Freezer Sense Edge',
 'Wireless Powerbank Plus',
 'Digital Vacuum Rechargeable X Wireless',
 'Stove Iron',
 'Mini Fan Max Wireless Wireless',
 'Automatic Heater Cooker Edge',
 'Thermostat Oven',
 'Dock',
 'Compact Heater Go Plus Smart',
 'Eco Thermostat Oven Eco Go Edge',
 'Advanced Projector Oven Thermostat Premium',
 'Ultra Grill Grill Scale Rechargeable',
 'Premium Camera Fast Ultra Go',
 'Wireless Watch Go Max Prime',
 'Smart Heater Clean Edge',
 'Bicycle Scooter',
 'Rechargeable Treadmill Dock',
 'Advanced Cooker',
 'Smart Trimmer Clock Automatic Rechargeable',
 'Kettle',
 'Projector Oven Thermostat',
 'Silent Watch Mini Advanced',
 'Digital Radio Radio Air Lite',
 'Premium Fan Premium',
 'Vacuum',
 'Portable Camera Vacuum Automatic Sense',
 'Advanced Iron Cooler Iron Pro',
 'Fast Tablet Blender',
 'Eco Scale Speaker Powerbank 360',
 'Silent Brush Scanner Automatic Max Sense',
 'Wireless Trimmer Stove Fast',
 'Silent Treadmill 360 Wireless One',
 'Smart Freezer Lite',
 'Compact Keyboard Speaker Portable Silent',
 'Pro Scale Toaster 360 Lite',
 'Smart Powerbank Router Silent',
 'Compact Lock Thermostat Silent Prime Automatic',
 'Ultra Clock Lock One One',
 'Smart Mixer Grill Automatic Air',
 'Smart Fan Powerbank 360 Advanced',
 'Eco Iron Thermostat 360',
 'Ultra Cooker',
 'Thermostat Speaker',
 'Eco Tablet Microphone Trimmer',
 'Automatic Webcam Powerbank Plus Pro',
 'Premium Speaker Keyboard One',
 'Smart Charger Mini Smart',
 'Premium Freezer Go Wireless One',
 'Silent Fan Premium Rechargeable',
 'Lamp Scanner Vacuum',
 'Pro Shaver Grill Premium',
 'Advanced Dock Automatic Silent Portable',
 'Digital Router Keyboard Portable',
 'Eco Tablet Cooler Fridge Ultra Wireless Mini',
 'Fast Oven Trimmer 360 Go Sense',
 'Eco Vacuum Fan Silent Mini',
 'Rechargeable Speakerphone Advanced Air',
 'Portable Speakerphone',
 'Rechargeable Freezer',
 'Smart Charger Stove Watch Advanced',
 'Automatic Router X Advanced',
 'Speakerphone',
 'Portable Mouse Speaker Cooler Digital Premium Air',
 'Automatic Drone Clean',
 'Wireless Webcam Mouse Silent',
 'Wireless Heater Mixer Shaver One Mini Compact',
 'Heater',
 'Smart Brush Touch Smart Fast',
 'Premium Scooter Dock Shaver Advanced Smart Go',
 'Compact Powerbank Iron Brush One Lite 360',
 'Freezer Powerbank Watch',
 'Ultra Fridge Camera Rechargeable',
 'Eco Lock Smart Smart Wireless',
 'Pro Powerbank Projector',
 'Advanced Brush',
 'Clean Camera Bicycle Speakerphone',
 'Digital Mouse Pro Mini',
 'Silent Fridge Cooker Max Plus',
 'Smart Trimmer Cooler Ultra Rechargeable',
 'Digital Cooker Cooler',
 'Clean Kettle Brush Fan Portable Smart Digital',
 'Ultra Camera Router Fan',
 'Scanner Mouse',
 'Pro Webcam Webcam Stove One Sense',
 'Portable Webcam Webcam Treadmill Wireless Clean',
 'Digital Projector Fast X Ultra',
 'Premium Printer Webcam Pro',
 'Wireless Powerbank 360 Automatic',
 'Rechargeable Camera Monitor Charger X',
 'Portable Watch Fridge',
 'Clean Bicycle Clock Lamp',
 'Pro Radio',
 'Compact Camera Drone Fan Prime',
 'Pro Headphones Advanced',
 'Silent Charger Plus',
 'Smart Phone Iron Speakerphone Edge',
 'Smart Powerbank Eco',
 'Compact Scale Trimmer Grill Mini',
 'Smart Lamp Speakerphone Headphones',
 'Digital Thermostat Camera Watch',
 'Digital Powerbank Scooter Ultra One One',
 'Rechargeable Kettle Max Compact',
 'Automatic Brush Compact',
 'Smart Kettle Brush Fan',
 'Dock Freezer Projector',
 'Clean Radio Edge Edge',
 'Mouse Powerbank Printer',
 'Powerbank',
 'Eco Watch',
 'Compact Watch Go',
 'Ultra Speakerphone Stove Tablet Pro Max',
 'Compact Iron Monitor Lite',
 'Digital Thermostat Iron Mini',
 'Wireless Watch Camera Eco Sense',
 'Digital Scanner Keyboard Monitor Mini Touch Prime',
 'Clean Speakerphone Charger X Premium Silent',
 'Mini Lock Edge',
 'Premium Bicycle Scooter Touch Go Fast',
 'Eco Speaker Keyboard X Lite Edge',
 'Watch Tablet Printer',
 'Premium Light Drone Rechargeable',
 'Silent Shaver Go Premium',
 'Advanced Fan Automatic',
 'Eco Speaker Powerbank Camera',
 'Clean Kettle Brush Fan Mini Smart',
 'Smart Blender Scale Silent',
 'Eco Radio Portable Compact Lite',
 'Eco Projector Speaker Treadmill Premium Max',
 'Eco Heater Toaster Stove',
 'Rechargeable Freezer Pro',
 'Smart Clock Lock Air',
 'Automatic Tablet Eco Prime Lite',
 'Automatic Watch Grill Edge',
 'Tablet',
 'Silent Projector Brush Max Wireless',
 'Clean Fan Rechargeable Portable Air',
 'Automatic Keyboard One Fast Smart',
 'Smart Toaster Light Monitor Touch',
 'Wireless Router',
 'Mini Scale Lite',
 'Wireless Cooker Lite Lite',
 'Compact Heater Keyboard Eco',
 'Compact Oven Drone 360 One Sense',
 'Fast Scooter Scale Cooler',
 'Cooler',
 'Ultra Phone Speaker Blender X Silent',
 'Clock Drone Charger',
 'Ultra Clock Touch Clean Prime',
 'Ultra Stove Light Eco Premium Plus',
 'Premium Brush',
 'Smart Mouse Powerbank Printer 360',
 'Charger Radio',
 'Wireless Grill Grill One Clean Mini',
 'Fast Thermostat Speaker 360 Digital',
 'Grill Brush Watch',
 'Ultra Monitor Light Advanced Lite',
 'Wireless Webcam Toaster Silent Prime',
 'Fast Thermostat Iron Touch',
 'Pro Scanner Monitor Treadmill Lite Ultra',
 'Portable Brush Silent 360',
 'Clean Router Lamp',
 'Smart Bicycle Ultra One',
 'Compact Drone',
 'Compact Scooter Microphone Eco Sense Premium',
 'Tablet Powerbank Blender',
 'Smart Treadmill Dock Eco X Sense',
 'Mini Powerbank Projector Wireless Air Plus',
 'Pro Watch Compact',
 'Lamp Grill',
 'Automatic Lock Blender Compact',
 'Eco Mixer Vacuum Max Advanced Max',
 'Silent Powerbank Iron Brush Smart Silent',
 'Wireless Freezer Advanced',
 'Mini Mixer Treadmill Smart',
 'Pro Thermostat Iron X Ultra',
 'Cooler Vacuum',
 'Brush Scanner',
 'Advanced Webcam Webcam Treadmill Fast Edge',
 'Drone Thermostat Headphones',
 'Eco Fan Iron Clock Premium',
 'Iron Heater',
 'Smart Microphone Lamp Speaker Ultra',
 'Ultra Toaster Light Monitor Compact',
 'Premium Scale Automatic Prime',
 'Portable Headphones',
 'Iron',
 'Eco Fridge Fan Lamp Compact',
 'Compact Watch',
 'Ultra Cooler',
 'Eco Fan Thermostat Air',
 'Digital Freezer',
 'Advanced Blender Max',
 'Treadmill',
 'Headphones',
 'Eco Drone Rechargeable Max Silent',
 'Advanced Lock Wireless',
 'Clock Lock',
 'Ultra Fan Go Fast Compact',
 'Clean Brush',
 'Portable Iron Thermostat Silent Smart Ultra',
 'Premium Lock Bicycle Clean',
 'Fast Oven Speaker Fan Advanced',
 'Portable Radio Silent Advanced Sense',
 'Portable Oven Mouse Cooler Prime',
 'Digital Fan Clock Camera Sense',
 'Scooter',
 'Mini Webcam Webcam Treadmill Edge',
 'Clean Watch Fridge Plus',
 'Smart Fan One Smart Compact',
 'Silent Mouse Radio Light Fast Ultra',
 'Fast Blender Blender',
 'Wireless Stove Vacuum Speaker',
 'Fast Microphone Rechargeable Edge X',
 'Wireless Mouse Radio Light Ultra Air 360',
 'Pro Shaver',
 'Scanner Shaver Powerbank',
 'Pro Toaster Oven Fast Silent',
 'Smart Scooter Advanced Sense',
 'Ultra Camera Smart Plus',
 'Premium Vacuum Printer Fast',
 'Powerbank Projector',
 'Automatic Cooler Fan Sense',
 'Ultra Heater Keyboard Silent Edge Silent',
 'Freezer Mixer',
 'Premium Scanner Keyboard Monitor One Go Edge',
 'Compact Printer Charger Brush Silent Silent Clean',
 'Silent Scanner Rechargeable X Plus',
 'Ultra Scooter Max',
 'Portable Vacuum Webcam 360 Smart',
 'Eco Clock Lock Prime Max',
 'Speaker Keyboard',
 'Brush',
 'Premium Speaker Plus Ultra',
 'Ultra Keyboard Speakerphone Fan Mini Edge Automatic',
 'Advanced Lamp Go One',
 'Automatic Radio Touch Wireless Mini',
 'Advanced Drone',
 'Automatic Tablet Microphone Trimmer Clean Ultra',
 'Smart Scale One 360',
 'Microphone Cooler',
 'Pro Router Phone',
 'Microphone',
 'Silent Mixer Freezer Trimmer',
 'Smart Mouse Portable Max Smart',
 'Smart Headphones Stove Automatic Portable Premium',
 'Smart Scooter Sense Silent Sense',
 'Ultra Monitor Cooler Dock Portable Edge Fast',
 'Smart Mixer Freezer Trimmer',
 'Vacuum Webcam',
 'Silent Mouse Lamp Portable',
 'Compact Lock Charger Compact Fast Prime',
 'Oven Drone',
 'Automatic Microphone Treadmill Oven',
 'Digital Lock',
 'Advanced Powerbank Cooker Iron Rechargeable',
 'Premium Tablet Powerbank Blender Edge Sense Eco',
 'Mini Blender Smart',
 'Ultra Thermostat Camera Watch',
 'Wireless Mouse Powerbank Printer',
 'Mini Freezer',
 'Clean Oven Mouse Cooler 360 Prime',
 'Compact Cooker Clean',
 'Digital Toaster',
 'Digital Grill Grill Scale Mini Pro X',
 'Smart Radio',
 'Rechargeable Vacuum',
 'Automatic Stove Light Premium',
 'Premium Router Freezer Webcam',
 'Speakerphone Oven',
 'Digital Speakerphone X',
 'Silent Watch Thermostat One Air Smart',
 'Silent Iron Wireless Sense',
 'Mouse Radio Light',
 'Rechargeable Brush Smart Max',
 'Smart Router Automatic',
 'Automatic Iron Cooler Iron Eco',
 'Advanced Camera Heater Webcam Smart Rechargeable Touch',
 'Shaver Grill',
 'Eco Heater Ultra Go',
 'Mini Treadmill Pro',
 'Charger Tablet Brush',
 'Advanced Mixer Treadmill',
 'Fast Lamp Lamp Kettle Smart Smart Mini',
 'Eco Iron Touch Wireless Touch',
 'Portable Drone Clean',
 'Smart Freezer Portable Wireless',
 'Automatic Vacuum Webcam Advanced Compact Sense',
 'Digital Brush',
 'Wireless Brush Fridge Drone Clean',
 'Mini Grill Microphone Projector Automatic Plus',
 'Portable Camera Heater Webcam Clean Air Compact',
 'Ultra Shaver Fast Ultra',
 'Automatic Clock Brush',
 'Rechargeable Shaver Go Air Smart',
 'Pro Mouse Charger Wireless',
 'Compact Grill Brush Watch Silent Eco Prime',
 'Pro Projector Eco Sense Digital',
 'Advanced Fan Thermostat',
 'Eco Headphones Wireless Advanced',
 'Smart Freezer Digital Max Advanced',
 'Advanced Projector Freezer Eco Digital',
 'Microphone Treadmill Oven',
 'Clean Fridge',
 'Rechargeable Brush Scanner Portable Rechargeable',
 'Premium Monitor Brush Monitor',
 'Rechargeable Watch Fridge',
 'Smart Drone Portable Advanced',
 'Smart Clock Premium',
 'Rechargeable Powerbank Scooter',
 'Digital Tablet Prime',
 'Mini Webcam Webcam Stove Mini Prime',
 'Compact Grill Charger Headphones Premium Fast',
 'Portable Scooter Eco Wireless',
 'Monitor Light',
 'Rechargeable Light Headphones Tablet Eco Compact',
 'Advanced Light Headphones Tablet Edge 360',
 'Rechargeable Cooker Brush Wireless Ultra',
 'Automatic Treadmill',
 'Fast Webcam Mouse Lite Premium Portable',
 'Automatic Lock Freezer Automatic',
 'Kettle Brush Fan',
 'Wireless Lock Clean Sense X',
 'Digital Mouse One Wireless',
 'Compact Vacuum Fan',
 'Fast Iron Toaster Projector',
 'Watch',
 'Iron Monitor',
 'Ultra Powerbank',
 'Mini Tablet Mini',
 'Portable Treadmill Pro',
 'Eco Charger Monitor Brush Rechargeable',
 'Premium Scale Silent X',
 'Drone',
 'Clean Powerbank',
 'Scooter Scale Cooler',
 'Portable Light Heater Clock Silent Sense Digital',
 'Wireless Scanner Fast Rechargeable',
 'Pro Printer Fan Shaver',
 'Premium Headphones Rechargeable Portable',
 'Smart Router Phone Automatic Clean Fast',
 'Automatic Freezer Mixer',
 'Clean Blender Edge',
 'Scanner',
 'Mini Brush Premium Portable Go',
 'Microphone Lamp Speaker',
 'Rechargeable Freezer Mini Pro',
 'Fast Mouse Speaker Cooler Pro Premium Advanced',
 'Eco Tablet',
 'Advanced Powerbank Projector Smart',
 'Scale Trimmer Grill',
 'Mini Webcam Powerbank 360 360',
 'Clean Microphone Eco',
 'Mini Iron Microphone Mini Clean X',
 'Smart Scooter Dock Shaver',
 'Compact Kettle Vacuum Touch Ultra Eco',
 'Mouse Speaker Cooler',
 'Pro Lamp Speakerphone Headphones 360 Touch Go',
 'Pro Lamp Scanner Vacuum Compact Fast Edge',
 'Rechargeable Keyboard Phone Scanner Smart',
 'Rechargeable Charger Stove Watch',
 'Heater Thermostat',
 'Portable Lamp Smart X',
 'Eco Treadmill',
 'Smart Charger Mini Max Rechargeable',
 'Digital Radio Mixer Smart X Wireless',
 'Advanced Heater Silent',
 'Premium Light Webcam Cooker X',
 'Premium Projector Brush',
 'Smart Grill Trimmer Fast Compact Smart',
 'Pro Radio Radio',
 'Smart Thermostat Microphone Scooter',
 'Advanced Clock Router Fridge Clean Clean',
 'Pro Bicycle Lock Fan Automatic Touch Lite',
 'Ultra Trimmer Webcam Heater Digital Fast Lite',
 'Rechargeable Toaster Scooter',
 'Mouse Mouse Router',
 'Silent Stove Vacuum Speaker 360 Advanced Automatic',
 'Premium Keyboard Smart Touch Touch',
 'Advanced Mixer Bicycle Fridge Edge Max Automatic',
 'Smart Tablet Router Printer One Fast',
 'Eco Dock',
 'Ultra Microphone Heater Clean',
 'Smart Vacuum Silent Mini Mini',
 'Portable Powerbank Brush Charger Advanced Pro Fast',
 'Automatic Monitor Cooler Dock Compact',
 'Camera Router Fan',
 'Lamp Blender Drone',
 'Eco Charger Stove Watch',
 'Eco Microphone Treadmill Oven',
 'Premium Charger Stove Watch Prime Automatic',
 'Wireless Stove Iron Advanced',
 'Eco Powerbank Eco',
 'Premium Speakerphone Plus',
 'Fast Heater Max Air',
 'Smart Mouse',
 'Ultra Printer',
 'Automatic Phone Scooter Prime Touch',
 'Automatic Oven Mouse Cooler',
 'Smart Tablet Tablet Kettle Premium',
 'Ultra Freezer Premium',
 'Smart Fan Monitor Toaster',
 'Wireless Phone Iron Speakerphone',
 'Portable Microphone Touch Max Lite',
 'Camera',
 'Clean Drone Rechargeable Prime',
 'Printer',
 'Rechargeable Grill Grill Scale',
 'Silent Freezer Mixer',
 'Premium Radio Stove Shaver One Silent',
 'Digital Webcam X Max Compact',
 'Advanced Camera Bicycle Speakerphone Eco Ultra',
 'Scanner Tablet Radio',
 'Heater Mixer Shaver',
 'Fast Mouse Charger Prime',
 'Compact Printer',
 'Premium Thermostat Oven Rechargeable',
 'Digital Thermostat Printer',
 'Mini Heater Touch',
 'Mouse',
 'Fast Webcam Mouse Advanced Compact 360',
 'Clean Keyboard Silent',
 'Advanced Keyboard Freezer Smart Portable',
 'Clean Lamp Blender Drone Max Pro X',
 'Advanced Router Portable',
 'Ultra Fan Iron Cooker X Rechargeable Go',
 'Fast Fan Clock Camera Smart Fast Ultra',
 'Fast Radio Silent 360 Advanced',
 'Keyboard',
 'Wireless Mouse Mouse Router',
 'Eco Shaver Grill',
 'Silent Thermostat Iron Plus Edge Eco',
 'Pro Freezer Prime Lite',
 'Eco Radio Bicycle Cooler Prime Smart Silent',
 'Pro Fridge Freezer Advanced Portable Plus',
 'Ultra Router Freezer Webcam One Edge',
 'Mini Watch Sense Premium Max',
 'Rechargeable Trimmer Smart Compact',
 'Smart Scanner Keyboard Monitor',
 'Silent Powerbank Silent Compact',
 'Premium Fridge Pro Mini',
 'Camera Drone Fan',
 'Fast Brush Fridge Drone Fast Mini',
 'Advanced Watch',
 'Silent Lock',
 'Smart Cooker Clean Sense 360',
 'Digital Lock Fast One',
 'Compact Kettle Vacuum Digital',
 'Advanced Mouse',
 'Ultra Charger Sense',
 'Fast Tablet Blender Clean Compact',
 'Rechargeable Fridge Freezer 360',
 'Radio',
 'Wireless Drone Lite Premium Ultra',
 'Wireless Dock Ultra Eco',
 'Fast Printer Silent Touch Lite',
 'Wireless Mixer Plus One',
 'Eco Powerbank 360 Clean Max',
 'Smart Scanner Keyboard Monitor Sense',
 'Projector Brush',
 'Mini Watch',
 'Thermostat',
 'Digital Phone X',
 'Tablet Blender',
 'Pro Charger Monitor Brush 360 Mini',
 'Digital Lamp Lamp 360',
 'Eco Speaker Keyboard Digital Touch',
 'Smart Thermostat Microphone Scooter Pro Smart',
 'Automatic Powerbank',
 'Smart Scooter Rechargeable',
 'Freezer Phone',
 'Eco Lamp Monitor Silent',
 'Smart Scooter Prime',
 'Portable Iron Clean Clean Premium',
 'Rechargeable Scale Clock Max Rechargeable',
 'Wireless Vacuum',
 'Fast Fridge Mouse Monitor Air',
 'Smart Speaker Keyboard Mini',
 'Wireless Clock Brush',
 'Clean Mouse Heater One Prime',
 'Pro Mixer Vacuum Smart Smart',
 'Silent Bicycle Clock Lamp 360 Clean',
 'Ultra Lamp Advanced Touch',
 'Pro Fan Wireless',
 'Premium Fridge Mouse Monitor One Touch Lite',
 'Smart Lamp Scanner Vacuum',
 'Mini Dock Ultra Eco',
 'Silent Camera Monitor Charger Silent',
 'Clean Dock Mixer Router Eco',
 'Ultra Mixer Bicycle Fridge Plus Premium Advanced',
 'Ultra Toaster Light Monitor Rechargeable Smart Plus',
 'Clean Thermostat Stove Lamp Edge Mini',
 'Portable Stove Vacuum Speaker Touch',
 'Mini Printer Fan',
 'Eco Blender Toaster Camera Silent',
 'Smart Heater Keyboard Pro Air',
 'Digital Radio',
 'Portable Brush 360 X Mini',
 'Mini Toaster Scanner Fast',
 'Portable Cooler Treadmill Plus Plus Mini',
 'Pro Grill',
 'Portable Lamp Blender Drone Sense One',
 'Monitor',
 'Rechargeable Fan Speaker Fridge',
 'Digital Thermostat Drone Heater Smart',
 'Clean Heater Radio Wireless Lite Sense',
 'Rechargeable Scooter Microphone Premium Sense Fast',
 'Silent Thermostat Trimmer',

In [ ]:
df['Name'].value_counts()

Name
Fan                                     44
Dock                                    43
Freezer                                 34
Lock                                    32
Brush                                   27
                                        ..
Eco Grill Grill Portable                 1
Mini Printer Lock Thermostat             1
Smart Grill Microphone Projector 360     1
Fast Powerbank Ultra                     1
Smart Microphone X Portable Fast         1
Name: count, Length: 7896, dtype: int64

In [ ]:
df['Description'].value_counts()

Description
Between key father half.                          1
Part perform result newspaper.                    1
Agreement ten responsibility whole maybe pull.    1
Who source better.                                1
Expect public dinner.                             1
                                                 ..
Remain Congress blood plan voice.                 1
Lawyer one than fire.                             1
Quickly inside pull line lay start.               1
All movement yeah tax me.                         1
Catch enough role nearly.                         1
Name: count, Length: 10000, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          10000 non-null  int64
 1   Name           10000 non-null  object
 2   Description    10000 non-null  object
 3   Brand          10000 non-null  object
 4   Category       10000 non-null  object
 5   MRP_Price      10000 non-null  float64
 6   Currency       10000 non-null  object
 7   Stock          10000 non-null  float64
 8   EAN            10000 non-null  float64
 9   Color          10000 non-null  object
 10  Availability   10000 non-null  object
 11  Internal ID    10000 non-null  int64
 12  Qty            10000 non-null  float64
 13  Selling_price  10000 non-null  float64
dtypes: float64(5), int64(2), object(7)
memory usage: 1.1+ MB

In [ ]:
# change datatype

In [ ]:
df['Stock'] = pd.to_numeric(df['Stock'], errors='coerce').astype('Int64')
df['Qty'] = pd.to_numeric(df['Qty'], errors='coerce').astype('Int64')

In [ ]:
cat_cols = ['Brand', 'Category', 'Color', 'Availability', 'Currency']

for col in cat_cols:
    df[col] = df[col].astype('category')

In [ ]:
df['Name'] = df['Name'].astype(str)
df['Description'] = df['Description'].astype(str)

In [ ]:
df['MRP_Price'] = df['MRP_Price'].astype(float)

In [ ]:
df['EAN'] = df['EAN'].astype('Int64').astype(str)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          10000 non-null  int64
 1   Name           10000 non-null  object
 2   Description    10000 non-null  object
 3   Brand          10000 non-null  category
 4   Category       10000 non-null  category
 5   MRP_Price      10000 non-null  float64
 6   Currency       10000 non-null  category
 7   Stock          10000 non-null  Int64
 8   EAN            10000 non-null  object
 9   Color          10000 non-null  category
 10  Availability   10000 non-null  category
 11  Internal ID    10000 non-null  int64
 12  Qty            10000 non-null  Int64
 13  Selling_price  10000 non-null  float64
dtypes: Int64(2), category(5), float64(2), int64(2), object(3)
memory usage: 1.1+ MB

In [ ]:
# column for category section

In [ ]:
menu = {
    "Men's Clothing": "Apparel & Fashion",
    "Women's Clothing": "Apparel & Fashion",
    "Kids' Clothing": "Apparel & Fashion",
    "Shoes & Footwear": "Apparel & Fashion",
    "Clothing & Apparel": "Apparel & Fashion",
    "Accessories (Bags, Hats, Belts)": "Apparel & Fashion",

    "Beauty & Personal Care": "Beauty & Personal Care",
    "Skincare": "Beauty & Personal Care",
    "Makeup": "Beauty & Personal Care",
    "Haircare": "Beauty & Personal Care",
    "Fragrances": "Beauty & Personal Care",
    "Grooming Tools": "Beauty & Personal Care",

    "Home & Kitchen": "Home & Living",
    "Kitchen Appliances": "Home & Living",
    "Furniture": "Home & Living",
    "Home Decor": "Home & Living",
    "Bedding & Bath": "Home & Living",
    "Cleaning Supplies": "Home & Living",

    "Smartphones": "Mobiles & Electronics",
    "Laptops & Computers": "Mobiles & Electronics",
    "Smartwatches": "Mobiles & Electronics",
    "Headphones & Earbuds": "Mobiles & Electronics",
    "Cameras & Accessories": "Mobiles & Electronics",

    "Sports & Outdoors": "Sports, Fitness & Outdoors",
    "Fitness Equipment": "Sports, Fitness & Outdoors",
    "Cycling": "Sports, Fitness & Outdoors",
    "Camping & Hiking": "Sports, Fitness & Outdoors",
    "Fishing & Hunting": "Sports, Fitness & Outdoors",
    "Team Sports": "Sports, Fitness & Outdoors",

    "Toys & Games": "Toys, Books & Office",
    "Books & Stationery": "Toys, Books & Office",
    "Office Supplies": "Toys, Books & Office",

    "Automotive": "Automotive",
    "Health & Wellness": "Health & Wellness"
}

df["Category_Section"] = df["Category"].map(menu)

In [ ]:
# column for availability

In [ ]:
availability_map = {
    "in_stock": "Available",
    "limited_stock": "Available (Limited)",
    "pre_order": "Temporarily Unavailable",
    "backorder": "Temporarily Unavailable",
    "out_of_stock": "Unavailable",
    "discontinued": "Unavailable"
}

df["Availability_Status"] = df["Availability"].map(availability_map)

In [ ]:
# df.sort_values('Availability_Status').head()

,Index,Name,Description,Brand,Category,MRP_Price,Currency,Stock,EAN,Color,Availability,Internal ID,Qty,Selling_price,Category_Section,Availability_Status
4999,5000,Wireless Tablet Ultra,Modern simple share those animal itself now mu...,Gordon Group,Headphones & Earbuds,75.0,INR,864,509852000000,AntiqueWhite,in_stock,49,442,50.25,Mobiles & Electronics,Available
5913,5914,Digital Grill Brush Watch Edge,Laugh media leave field attorney.,Cobb PLC,Camping & Hiking,12.0,INR,877,7478860000000,DarkViolet,in_stock,45,686,9.96,"Sports, Fitness & Outdoors",Available
1643,1644,Portable Kettle Vacuum Smart Ultra,View on course available score economic certain.,Ramirez-Bautista,Grooming Tools,150.0,INR,968,9669740000000,DarkKhaki,in_stock,93,961,111.00,Beauty & Personal Care,Available
1642,1643,Mini Scanner Mouse X,Take hotel behavior article base speak.,"Meadows, Malone and Rivera",Automotive,547.0,INR,500,65764616805,Fuchsia,in_stock,22,819,464.95,Automotive,Available
1638,1639,Smart Printer Touch X Plus,Interesting defense name the hair.,Jimenez Group,Grooming Tools,579.0,INR,446,9608050000000,Purple,in_stock,14,940,422.67,Beauty & Personal Care,Available

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Index                10000 non-null  int64
 1   Name                 10000 non-null  object
 2   Description          10000 non-null  object
 3   Brand                10000 non-null  category
 4   Category             10000 non-null  category
 5   MRP_Price            10000 non-null  float64
 6   Currency             10000 non-null  category
 7   Stock                10000 non-null  Int64
 8   EAN                  10000 non-null  object
 9   Color                10000 non-null  category
 10  Availability         10000 non-null  category
 11  Internal ID          10000 non-null  int64
 12  Qty                  10000 non-null  Int64
 13  Selling_price        10000 non-null  float64
 14  Category_Section     10000 non-null  object
 15  Availability_Status  10000 non-null  object
dtypes: Int64(2), category(5), float64(2), int64(2), object(5)
memory usage: 1.3+ MB

In [ ]:
# calculating discount

In [ ]:
df['discount'] = df['MRP_Price'] - df['Selling_price']

df[['MRP_Price', 'Selling_price', 'discount']].describe()

          MRP_Price  Selling_price      discount
count  10000.000000   10000.000000  10000.000000
mean     503.328300     365.351640    137.976660
std      289.702596     224.066094    111.648617
min        1.000000       0.500000   -309.400000
25%      251.000000     177.120000     47.600000
50%      506.000000     353.400000    107.470000
75%      756.000000     529.540000    204.410000
max      999.000000     949.050000    609.600000

In [ ]:
# renaming column name

In [ ]:
df.rename(columns={'Selling_price': 'Selling Price'}, inplace=True)
df.rename(columns={'MRP_Price':'MRP Price'}, inplace=True)
df.rename(columns={'Category_Section':'Category Section'}, inplace=True)
df.rename(columns={'Availability_Status':'Availability Status'}, inplace=True)

In [ ]:
# save clean dataset

In [ ]:
df.to_csv('Products(clean dataset).csv', index=False)

In [ ]:
df.shape

(10000, 16)

In [ ]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Index,10000.0,NaN,NaN,NaN,5000.5,2886.89568,1.0,2500.75,5000.5,7500.25,10000.0
Name,10000,7896,Fan,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Description,10000,10000,Between key father half.,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brand,10000,9241,Kennedy LLC,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Category,10000,34,Clothing & Apparel,320,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MRP_Price,10000.0,NaN,NaN,NaN,503.3283,289.702596,1.0,251.0,506.0,756.0,999.0
Currency,10000,1,INR,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stock,10000.0,<NA>,<NA>,<NA>,498.0426,288.655793,0.0,247.0,499.0,750.0,999.0
EAN,10000,9952,2394310000000,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Color,10000,140,Cornsilk,101,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Availability,10000,6,discontinued,1706,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Internal ID,10000.0,NaN,NaN,NaN,50.4755,28.555993,1.0,26.0,51.0,75.0,99.0
Qty,10000.0,<NA>,<NA>,<NA>,523.2285,276.748415,0.0,281.0,522.0,765.0,1000.0
Selling_price,10000.0,NaN,NaN,NaN,365.69654,224.39278,0.5,177.1175,353.945,530.2125,963.0
Category_Section,10000,8,Home & Living,1777,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Availability_Status,10000,4,Unavailable,3406,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:
#Analysing and providing the stats of each column.

In [ ]:
#stats for Name column
name_stats = {
    'unique_values': df['Name'].nunique(),
    'missing_values': df['Name'].isnull().sum(),
    'avg_length': df['Name'].dropna().str.len().mean(),
    'min_length': df['Name'].dropna().str.len().min(),
    'max_length': df['Name'].dropna().str.len().max(),
    'most_frequent': df['Name'].mode().iloc[0]
}

name_stats

{'unique_values': 7896,
 'missing_values': np.int64(0),
 'avg_length': np.float64(26.1114),
 'min_length': 3,
 'max_length': 64,
 'most_frequent': 'Fan'}

In [ ]:
name_stats_df = pd.DataFrame([name_stats], index=['Name'])
name_stats_df

,unique_values,missing_values,avg_length,min_length,max_length,most_frequent
Name,7896,0,26.1114,3,64,Fan

In [ ]:
top_5_frequent= df['Name'].value_counts().head(5).to_dict()
top_5_frequent

{'Fan': 44, 'Dock': 43, 'Freezer': 34, 'Lock': 32, 'Brush': 27}

In [ ]:
#stats for Description column
description_stats = {
    'unique_values': df['Description'].nunique(),
    'missing_values': df['Description'].isnull().sum(),
    'avg_length': df['Description'].dropna().str.len().mean(),
    'min_length': df['Description'].dropna().str.len().min(),
    'max_length': df['Description'].dropna().str.len().max(),
    'most_frequent': df['Description'].mode().iloc[0]
}

description_stats

{'unique_values': 10000,
 'missing_values': np.int64(0),
 'avg_length': np.float64(35.9708),
 'min_length': 11,
 'max_length': 78,
 'most_frequent': 'A beyond become company blue.'}

In [ ]:
description_stats_stats_df = pd.DataFrame([description_stats], index=['Description'])
description_stats_stats_df

,unique_values,missing_values,avg_length,min_length,max_length,most_frequent
Description,10000,0,35.9708,11,78,A beyond become company blue.

In [ ]:
#stats for Brand column
brand_stats = {
    'unique_values': df['Brand'].nunique(),
    'missing_values': df['Brand'].isnull().sum(),
    'avg_length': df['Brand'].dropna().str.len().mean(),
    'min_length': df['Brand'].dropna().str.len().min(),
    'max_length': df['Brand'].dropna().str.len().max(),
    'most_frequent': df['Brand'].mode().iloc[0]
}

brand_stats

{'unique_values': 9241,
 'missing_values': np.int64(0),
 'avg_length': np.float64(16.5369),
 'min_length': 5,
 'max_length': 35,
 'most_frequent': 'Kennedy LLC'}

In [ ]:
brand_stats_df = pd.DataFrame([brand_stats], index=['Brand'])
brand_stats_df

,unique_values,missing_values,avg_length,min_length,max_length,most_frequent
Brand,9241,0,16.5369,5,35,Kennedy LLC

In [ ]:
#stats for Category column

category_stats = {
    'unique_values': df['Category'].nunique(),
    'missing_values': df['Category'].isnull().sum(),
    'avg_length': df['Category'].dropna().str.len().mean(),
    'min_length': df['Category'].dropna().str.len().min(),
    'max_length': df['Category'].dropna().str.len().max(),
    'most_frequent': df['Category'].mode().iloc[0]
}

category_stats

{'unique_values': 34,
 'missing_values': np.int64(0),
 'avg_length': np.float64(14.6677),
 'min_length': 6,
 'max_length': 31,
 'most_frequent': 'Clothing & Apparel'}

In [ ]:
category_stats_df = pd.DataFrame([category_stats], index=['Category'])
category_stats_df

,unique_values,missing_values,avg_length,min_length,max_length,most_frequent
Category,34,0,14.6677,6,31,Clothing & Apparel

In [ ]:
# Top categories
df['Category'].value_counts().head(5)

Category
Clothing & Apparel    320
Kitchen Appliances    319
Home & Kitchen        316
Team Sports           316
Grooming Tools        311
Name: count, dtype: int64

In [ ]:
#stats for MRP_Price column
mrp_stats = {
    'unique_values': df['MRP_Price'].nunique(),
    'missing_values': df['MRP_Price'].isnull().sum(),
    'mean': df['MRP_Price'].mean(),
    'median': df['MRP_Price'].median(),
    'min': df['MRP_Price'].min(),
    'max': df['MRP_Price'].max(),
    'std_dev': df['MRP_Price'].std(),
    'skewness': df['MRP_Price'].skew()
}
mrp_stats

{'unique_values': 999,
 'missing_values': np.int64(0),
 'mean': np.float64(503.3283),
 'median': 506.0,
 'min': 1.0,
 'max': 999.0,
 'std_dev': 289.702595567417,
 'skewness': np.float64(-0.016483312382078688)}

In [ ]:
num_stats_df = pd.DataFrame([mrp_stats], index=['MRP_Price'])
num_stats_df

,unique_values,missing_values,mean,median,min,max,std_dev,skewness
MRP_Price,999,0,503.3283,506.0,1.0,999.0,289.702596,-0.016483

In [ ]:
# stats for Stock column
stock_stats = {
    'unique_values': df['Stock'].nunique(),
    'missing_values': df['Stock'].isnull().sum(),
    'mean': df['Stock'].mean(),
    'median': df['Stock'].median(),
    'min': df['Stock'].min(),
    'max': df['Stock'].max(),
    'std_dev': df['Stock'].std(),
    'zero_stock_count': (df['Stock'] == 0).sum()
}

stock_stats

{'unique_values': 1000,
 'missing_values': np.int64(0),
 'mean': np.float64(498.0426),
 'median': np.float64(499.0),
 'min': np.int64(0),
 'max': np.int64(999),
 'std_dev': np.float64(288.65579329356996),
 'zero_stock_count': np.int64(22)}

In [ ]:
stock_stats_df = pd.DataFrame([stock_stats], index=['Stock'])
stock_stats_df

,unique_values,missing_values,mean,median,min,max,std_dev,zero_stock_count
Stock,1000,0,498.0426,499.0,0,999,288.655793,22

In [ ]:
# stats for EAN column
ean_stats = {
    'unique_values': df['EAN'].nunique(),
    'missing_values': df['EAN'].isnull().sum(),
    'duplicate_rows': df['EAN'].duplicated(keep=False).sum()
}

ean_stats

{'unique_values': 9952,
 'missing_values': np.int64(0),
 'duplicate_rows': np.int64(96)}

In [ ]:
ean_stats_df = pd.DataFrame([ean_stats], index=['EAN'])
ean_stats_df

     unique_values  missing_values  duplicate_rows
EAN           9952               0              96

In [ ]:
#stats for color column
color_stats = {
    'unique_values': df['Color'].nunique(),
    'missing_values': df['Color'].isnull().sum(),
    'avg_length': df['Color'].dropna().str.len().mean(),
    'min_length': df['Color'].dropna().str.len().min(),
    'max_length': df['Color'].dropna().str.len().max(),
    'most_frequent': df['Color'].mode().iloc[0]
}


color_stats

{'unique_values': 140,
 'missing_values': np.int64(0),
 'avg_length': np.float64(8.9051),
 'min_length': 3,
 'max_length': 20,
 'most_frequent': 'Cornsilk'}

In [ ]:
color_stats_df = pd.DataFrame([color_stats], index=['Color'])
color_stats_df

,unique_values,missing_values,avg_length,min_length,max_length,most_frequent
Color,140,0,8.9051,3,20,Cornsilk

In [ ]:
# Check inconsistent naming
df['Color'].dropna().str.lower().value_counts().head(10)

Color
cornsilk         101
peru              93
antiquewhite      92
ivory             92
salmon            88
plum              88
darkslategray     87
maroon            85
teal              85
lightcoral        85
Name: count, dtype: int64

In [ ]:
#stats for Availability column
availability_stats = {
    'unique_values': df['Availability'].nunique(),
    'missing_values': df['Availability'].isnull().sum(),
    'avg_length': df['Availability'].dropna().str.len().mean(),
    'min_length': df['Availability'].dropna().str.len().min(),
    'max_length': df['Availability'].dropna().str.len().max(),
    'most_frequent': df['Availability'].mode().iloc[0]
}


availability_stats

{'unique_values': 6,
 'missing_values': np.int64(0),
 'avg_length': np.float64(10.515),
 'min_length': 8,
 'max_length': 13,
 'most_frequent': 'discontinued'}

In [ ]:
availability_stats_df = pd.DataFrame([availability_stats], index=['Availability'])
availability_stats_df

,unique_values,missing_values,avg_length,min_length,max_length,most_frequent
Availability,6,0,10.515,8,13,discontinued

In [ ]:
#stats for Internal ID
internal_id_stats = {
    'unique_values': df['Internal ID'].nunique(),
    'missing_values': df['Internal ID'].isnull().sum(),
    'duplicate_rows': df['Internal ID'].duplicated(keep=False).sum(),
}

internal_id_stats

{'unique_values': 99,
 'missing_values': np.int64(0),
 'duplicate_rows': np.int64(10000)}

In [ ]:
internal_id_stats_df = pd.DataFrame([internal_id_stats], index=['Internal ID'])
internal_id_stats_df

             unique_values  missing_values  duplicate_rows
Internal ID             99               0           10000

In [ ]:
# ststs for Qty column
qty_stats = {
    'unique_values': df['Qty'].nunique(),
    'missing_values': df['Qty'].isnull().sum(),
    'mean': df['Qty'].mean(),
    'median': df['Qty'].median(),
    'min': df['Qty'].min(),
    'max': df['Qty'].max(),
    'std_dev': df['Qty'].std(),
    'skewness': df['Qty'].skew()
}

qty_stats

{'unique_values': 952,
 'missing_values': np.int64(0),
 'mean': np.float64(523.2285),
 'median': np.float64(522.0),
 'min': np.int64(0),
 'max': np.int64(1000),
 'std_dev': np.float64(276.74841509261734),
 'skewness': np.float64(-0.0014358144305663615)}

In [ ]:
qty_stats_df = pd.DataFrame([qty_stats], index=['Qty'])
qty_stats_df

,unique_values,missing_values,mean,median,min,max,std_dev,skewness
Qty,952,0,523.2285,522.0,0,1000,276.748415,-0.001436

In [ ]:
# stats for Selling_Price column
selling_price_stats = {
    'unique_values': df['Selling_price'].nunique(),
    'missing_values': df['Selling_price'].isnull().sum(),
    'mean': df['Selling_price'].mean(),
    'median': df['Selling_price'].median(),
    'min': df['Selling_price'].min(),
    'max': df['Selling_price'].max(),
    'std_dev': df['Selling_price'].std()
}
selling_price_stats

{'unique_values': 7915,
 'missing_values': np.int64(0),
 'mean': np.float64(365.69653999999997),
 'median': 353.94500000000005,
 'min': 0.5,
 'max': 963.0,
 'std_dev': 224.39278000786976}

In [ ]:
selling_price_stats_df = pd.DataFrame([selling_price_stats], index=['Selling_price'])
selling_price_stats_df

,unique_values,missing_values,mean,median,min,max,std_dev
Selling_price,7915,0,365.69654,353.945,0.5,963.0,224.39278

In [ ]:
# stats for column Category_Section
category_section_stats = {
    'unique_values': df['Category_Section'].nunique(),
    'missing_values': df['Category_Section'].isnull().sum(),
    'avg_length': df['Category_Section'].astype(str).str.len().mean(),
    'min_length': df['Category_Section'].astype(str).str.len().min(),
    'max_length': df['Category_Section'].astype(str).str.len().max(),
    'most_frequent':  df['Category_Section'].mode().iloc[0]
}

category_section_stats

{'unique_values': 8,
 'missing_values': np.int64(0),
 'avg_length': np.float64(19.3901),
 'min_length': 10,
 'max_length': 26,
 'most_frequent': 'Home & Living'}

In [ ]:
category_section_stats_df = pd.DataFrame([category_section_stats], index=['Category_Section'])
category_section_stats_df

,unique_values,missing_values,avg_length,min_length,max_length,most_frequent
Category_Section,8,0,19.3901,10,26,Home & Living

In [ ]:
# stats for column Availability_Status
availability_status_stats = {
    'unique_values': df['Availability_Status'].nunique(),
    'missing_values': df['Availability_Status'].isnull().sum(),
    'avg_length': df['Availability_Status'].astype(str).str.len().mean(),
    'min_length': df['Availability_Status'].astype(str).str.len().min(),
    'max_length': df['Availability_Status'].astype(str).str.len().max(),
    'most_frequent':  df['Availability_Status'].mode().iloc[0]
}

availability_status_stats

{'unique_values': 4,
 'missing_values': np.int64(0),
 'avg_length': np.float64(15.9536),
 'min_length': 9,
 'max_length': 23,
 'most_frequent': 'Unavailable'}

In [ ]:
availability_status_stats_df = pd.DataFrame([availability_status_stats], index=['Availability_Status'])
availability_status_stats_df

,unique_values,missing_values,avg_length,min_length,max_length,most_frequent
Availability_Status,4,0,15.9536,9,23,Unavailable

In [ ]:
(df['Selling_price'] > df['MRP_Price']).sum()

np.int64(4)

In [ ]:
pd.crosstab(df['Availability'], df['Stock'] > 0)

Stock          False  True
Availability
backorder          1   1632
discontinued       4   1702
in_stock           6   1638
limited_stock      3   1641
out_of_stock       4   1696
pre_order          4   1669

In [ ]:
discount_stats = {
    'avg_discount': (df['MRP_Price'] - df['Selling_price']).mean().round(2),
    'max_discount': (df['MRP_Price'] - df['Selling_price']).max(),
    'discounted_products': (df['Selling_price'] < df['MRP_Price']).sum()
}
discount_stats

{'avg_discount': np.float64(137.98),
 'max_discount': 609.6,
 'discounted_products': np.int64(9996)}